{
  "parser": "babel-eslint",
  // "parser": "@typescript-eslint/parser",
  "rules": {
    "linebreak-style": ["error", "windows"],
    "eol-last": "off"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "plugins": [
    "@typescript-eslint",
    "eslint-plugin-node"
  ],
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
    // "plugin:import/errors",
    // "plugin:import/warnings",
    // "plugin:import/typescript",
  ],
  "ignorePatterns": ["webpack.config.js"]
}